# Deployment used by `npx convex dev`

# Convex Configuration
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=

# Clerk Configuration
CLERK_JWT_ISSUER_DOMAIN=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/whispers
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/whispers
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in


# Groq CoConfigurationn
GROQ_API_KEY=

# open ai key
OPENAI_API_KEY=